.magnet {
	border: 1px solid black;
	display: table-cell;
	padding: 1px 5px;
	background-color: white;
	cursor: pointer;
	position: absolute !important;
	box-shadow: 1px 1px 1px #808080;
}


.attr {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

a.attrtext {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10;
}
